.section-maps iframe{
    width: 100%;
}
.section-maps h1 {
    margin-bottom: 0;
}
.section-maps h2 {
    margin: 20px 0 30px;
}
.section-maps h1::after {
    margin-bottom: 0;
}
.section-contact-form .central {
    max-width: 800px;
}
.section-contact-form label {
    text-align: right;
    font-size: 15px;
    padding-top: 4px;
}
.section-contact-form .form-control {
    margin-bottom: 6px;
}
.section-contact-form p {
    padding-left: 5%;
}
@media all and (max-width: 767px) {
    .section-contact-form {
        text-align: center;
    }
    .section-contact-form .form-group {
        text-align: left;
    }
    .section-contact-form p {
        margin-top: 40px;
    }
}