.bg-rotate{
    padding: 20px 0;
    overflow: hidden;
    position: relative;
}
.bg-rotate::before, .bg-rotate::after {
    content: '';
    display: block;
    height: 70px;
    width: 100%;
}
.bg-rotate-toleft::before, .bg-rotate-toright::after {
    transform: rotate(-1deg);
}
.bg-rotate-toleft::after, .bg-rotate-toright::before{
    transform: rotate(1deg);
}
.bg-rotate .content-rotate{
    margin: -35px 0 -20px;
    position: relative;
    z-index: 2;
}
.bg-rotate .title-border {
    margin: 10px 0 30px;
}
.bg-rotate-fitup{
    margin-top: -41px;
}
.bg-rotate-after-none::after {
    display: none;
}
.bg-rotate-after-none .content-rotate {
    padding-bottom: 50px;
}
.title-border{
    text-align: center;
}
.title-border::after{
    height: 1px;
    background: black;
    content: "";
    display: block;
    width: 120px;
    margin:13px auto 30px;
}
.content-photo .img-content{
    width: 37%;
}
.content-photo .ctd-text{
    width: 62%;
}
.img-content img {
    width: 100%;
    max-width: 360px;
}
.ctd-text .btn-standard {
    color: white;
    margin-right: 10px;
}
.content-photo-left .img-content, .content-photo-right .ctd-text{
    float: left;
}
.content-photo-left .ctd-text, .content-photo-right .img-content{
    float: right;
}
.course {
     margin-bottom: 20px;
}
.course h2 {
    padding: 0 20px;
    margin: 15px 0 10px;
}
.subtitle-border {
    margin: -20px 0 30px;
    text-align: center;
}
.bg-rotate-orange .title-border::after {
    background: white;
}
.margin-bottom {
    margin-bottom: 30px;
}
.img-post img {
    display: block;
    width: 100%;
}
.post .img-post{
    max-width: 230px;
    margin: 0 auto;
}
.gallery-text-photos img {
    margin-bottom: 20px;
}
.img-course img,.gallery-text-photos img {
    display: inline-block;
    width: 100%;
    max-width: 300px;
}
.gallery-text-photos-big img {
    max-width: 480px;
}
.gallery-txt-left{
    float: left;
}
.gallery-txt-right{
    float: right;
}
.team-text h2:first-child {
    margin: 0;
    text-transform: uppercase;
}
.team-text h2 {
    margin-top: 0;
}
.team-image img {
    width: 100%;
    margin-bottom: 20px;
}
@media all and (max-width: 1100px) {
    .content-photo-left .ctd-text {
        width: 58%;
    }
}
@media all and (max-width: 991px) {
    .text-center-sm {
        text-align: center;
    }
    .gallery-text-photos{
        margin-top:40px;
        width: 100%;
    }
    .team-image {
        width: 300px;
        margin: 0 auto;
    }
    .team-text {
        text-align: center;
        margin-bottom: 30px;
    }
}
@media all and (max-width: 767px) {
    .course-pg {
        text-align: center;
    }
    .control-label {
        padding: 20px 15px 0px;
    }
    .content-photo{
        text-align:center;
    }
    .content-photo .img-content, .content-photo .ctd-text {
        float: none;
        margin: 0 auto;
        width: 100%;
    }
    .content-photo .img-content{
        margin-bottom:30px;
    }
}