.bg-rotate{
    padding: 20px 0;
    overflow: hidden;
    position: relative;
}
.bg-rotate::before, .bg-rotate::after {
    content: '';
    display: block;
    height: 70px;
    width: 100%;
}
.bg-rotate-toleft::before, .bg-rotate-toright::after {
    transform: rotate(-1deg);
}
.bg-rotate-toleft::after, .bg-rotate-toright::before{
    transform: rotate(1deg);
}
.bg-rotate .content-rotate{
    margin: -35px 0 -20px;
    position: relative;
    z-index: 2;
}
.bg-rotate .title-border {
    margin: 10px 0 30px;
}
.bg-rotate-fitup{
    margin-top: -41px;
}
.bg-rotate-after-none::after {
    display: none;
}
.bg-rotate-after-none .content-rotate {
    padding-bottom: 50px;
}
.title-border{
    text-align: center;
}
.title-border::after{
    height: 1px;
    background: black;
    content: "";
    display: block;
    width: 120px;
    margin:13px auto 30px;
}
.img-content{
    width: 37%;
}
.ctd-text{
    width: 62%;
}
.ctd-text .btn-standard {
    color: white;
    margin-right: 10px;
}
.content-photo-left .img-content, .content-photo-right .ctd-text{
    float: left;
}
.content-photo-left .ctd-text, .content-photo-right .img-content{
    float: right;
}
.course {
     margin-bottom: 20px;
}
.course h2 {
    padding: 0 20px;
    margin: 15px 0 10px;
}
.subtitle-border {
    margin: -20px 0 30px;
}
.bg-rotate-orange .title-border::after {
    background: white;
}
.margin-bottom {
    margin-bottom: 30px;
}
.img-post img {
    display: block;
    width: 100%;
}
.post .img-post{
    max-width: 230px;
    margin: 0 auto;
}