#rodape{
    padding: 40px 0 20px;
    font-size: 17px;
}
#informacoes-rodape {
    padding: 0 0 20px 25px;
    margin-left: 20px;
    border-left: 1px solid;
}
#informacoes-rodape,#onde-estamos-rodape {
    float: left;
}
#newletter-rodape {
    float: right;
    width: 200px;
}
.titulo-rodape{
    margin: 5px 0 10px;
}
#copyright{
    font-size: 13px;
}
#logo-youp{
    background: url(/imagens/logo-youp.png);
    height: 12px;
    width: 30px;
    display: inline-block;
    margin: 0 0 -3px 10px;
}
@media all and (max-width: 700px) {
    #informacoes-rodape, #onde-estamos-rodape {
        float: none;
        text-align: center;
    }
    #informacoes-rodape {
        margin: 20px 0;
        padding: 20px;
        border-left: 0;
        border-top: 1px solid;
        border-bottom: 1px solid;
    }
    #newletter-rodape {
        float: none;
        margin: 0 auto;
    }
    #copyright {
        text-align: center;
        margin-top: 15px;
        border-top: 1px solid;
        padding-top: 20px;
    }
}