.gallery{
    text-align:center;
}
.gallery img{
    display:block;
}
.gallery-text {
    float: left;
    width: 45%;
}
.gallery-medium{
    max-width:480px;
    float: right;
    position: relative;
}
.gallery-fullwidth .central{
    max-width:800px;
    position: relative;
}
#main-photo{
    height:auto;
    width:100%;
}
#gallery-title{
    font-size: 15px;
    font-weight: 400;
    background: rgba(255, 255, 255, 0.9);
    padding: 10px 0;
    position: absolute;
    z-index: 1;
    bottom: 70px;
    width: 100%;
    left: 0;
    margin: 0;
}
.container-imgs-controle{
    width:15000px;
    text-align: left;
    margin-left: 20px;
}
.container-imgs-controle img{
    cursor:pointer;
    animation-duration:0.5s;
    margin-left:7px;
    float: left;
}
.hidden-container-imgs-controle{
    overflow:hidden;
    position:relative;
    width:100%;
    margin:10px auto 0;
    background: white;
    height: 54px;
}
.hidden-container-imgs-controle[data-qty="2"] .arrow-gallery, .hidden-container-imgs-controle[data-qty="1"] .arrow-gallery{
    display:none;
}
.arrow-gallery{
    position:absolute;
    background: url(../imagens/setas-galeria.png) center left;
    cursor:pointer;
    transition:0.15s;
    width:20px;
    top:0;
    height:100%;
}
.arrow-gallery-1{
    left:0;
}
.arrow-gallery-2{
    right:0;
    background-position: center right;
}
.photo-out-in{
    animation-name:photo-out-in;
}
.photo-in-out{
    animation-name:photo-in-out-medium;
}
.gallery-fullwidth .photo-in-out{
    animation-name:photo-in-out-fullwidth;
}
.gallery-fullwidth .hidden-container-imgs-controle {
    height: 60px;
}
.gallery-fullwidth .container-imgs-controle img {
    margin-left: 15px;
}
.gallery-fullwidth .container-imgs-controle {
    margin-left: 13px;
}
@keyframes photo-out-in{
    0%{
        margin-left:0;
    }
    100%{
        margin-left:-100px;
    }
}
@keyframes photo-in-out-medium{
    0%{
        margin-left:-100px;
    }
    100%{
        margin-left:7px;
    }
}
@keyframes photo-in-out-fullwidth{
    0%{
        margin-left:-100px;
    }
    100%{
        margin-left:15px;
    }
}
@media all and (max-width:970px) {
    .gallery-text , .gallery-medium {
        width: 90%;
        float: none;
        margin: 0 auto;
    }
    .gallery-text {
        margin-bottom: 30px;
    }
}
@media all and (min-width:998px){
    .gallery-fullwidth .hidden-container-imgs-controle[data-qty="8"] .arrow-gallery{
        display:none;
    }
    .gallery-fullwidth .hidden-container-imgs-controle[data-qty="8"] {
        width: 745px;
    }
    .gallery-fullwidth .hidden-container-imgs-controle[data-qty="8"] .container-imgs-controle {
        margin-left: -15px;
    }
}
@media all and (min-width:880px){
    .gallery-fullwidth .hidden-container-imgs-controle[data-qty="7"] .arrow-gallery{
        display:none;
    }
    .gallery-fullwidth .hidden-container-imgs-controle[data-qty="7"] {
        width: 650px;
    }
    .gallery-fullwidth .hidden-container-imgs-controle[data-qty="7"] .container-imgs-controle {
        margin-left: -15px;
    }
}
@media all and (min-width:764px){
    .gallery-fullwidth .hidden-container-imgs-controle[data-qty="6"] .arrow-gallery{
        display:none;
    }
    .gallery-fullwidth .hidden-container-imgs-controle[data-qty="6"] {
        width: 555px;
    }
    .gallery-fullwidth .hidden-container-imgs-controle[data-qty="6"] .container-imgs-controle {
        margin-left: -15px;
    }
}
@media all and (min-width:650px){
    .gallery-fullwidth .hidden-container-imgs-controle[data-qty="5"] .arrow-gallery{
        display:none;
    }
    .gallery-fullwidth .hidden-container-imgs-controle[data-qty="5"] {
        width: 460px;
    }
    .gallery-fullwidth .hidden-container-imgs-controle[data-qty="5"] .container-imgs-controle {
        margin-left: -15px;
    }
}
@media all and (min-width:530px){
    .gallery-fullwidth .hidden-container-imgs-controle[data-qty="4"] .arrow-gallery{
        display:none;
    }
    .gallery-fullwidth .hidden-container-imgs-controle[data-qty="4"] {
        width: 365px;
    }
    .gallery-fullwidth .hidden-container-imgs-controle[data-qty="4"] .container-imgs-controle {
        margin-left: -15px;
    }
}
@media all and (min-width:415px){
    .gallery-fullwidth .hidden-container-imgs-controle[data-qty="3"] .arrow-gallery{
        display:none;
    }
    .gallery-fullwidth .hidden-container-imgs-controle[data-qty="3"] {
        width: 270px;
    }
    .gallery-fullwidth .hidden-container-imgs-controle[data-qty="3"] .container-imgs-controle {
        margin-left: -15px;
    }
}
@media all and (min-width:250px) {
    .gallery-fullwidth .hidden-container-imgs-controle[data-qty="2"] .arrow-gallery{
        display:none;
    }
    .gallery-fullwidth .hidden-container-imgs-controle[data-qty="2"] {
        width: 175px;
    }
    .gallery-fullwidth .hidden-container-imgs-controle[data-qty="2"] .container-imgs-controle {
        margin-left: -15px;
    }
}
@media all and (min-width:110px) {
    .gallery-fullwidth .hidden-container-imgs-controle[data-qty="1"] .arrow-gallery{
        display:none;
    }
    .gallery-fullwidth .hidden-container-imgs-controle[data-qty="1"] {
        width: 80px;
    }
    .gallery-fullwidth .hidden-container-imgs-controle[data-qty="1"] .container-imgs-controle {
        margin-left: -15px;
    }
}