#btn-menu-rpsv{
    display: none;
}
#topo-principal{
    text-align: center;
    padding: 25px 0 15px;
}
#logo{
    background: url(/imagens/logo.png);
    width: 159px;
    height: 158px;
    margin: 0 auto 25px;
    display: block;
}
#menu-principal{
    padding: 4px 0;
    display: inline-block;
}
#menu-principal .lnk-menu:first-child{
    border:none;
}
.lnk-menu{
    transition: 0.15s;
    padding: 0 15px;
    color: white;
    border-left: 1px solid white;
}
.lnk-menu:hover, .page-quartier .lnk-quartier,.page-formacao .lnk-formacao,.page-calendario .lnk-calendario,.page-trajetoria .lnk-trajetoria,.page-galeria .lnk-galeria,.page-plie .lnk-plie,.page-backstage .lnk-backstage,.page-contato .lnk-contato{
    color:#A9ECE8;
}
#topo-principal .icon-social {
    margin-bottom: -8px;
}